* {font-family:pt mono; background-color:rgb(75, 255, 150); position:relative;}
h1 {background-image: url("Big enough channel art.jpg"); background-size:10em 6em; width:10em;
 height:4em; text-align:center; padding-top:2em;}
p {color:rgb(255, 0, 255);}
a {color:rgb(255, 122, 0); float:right; background-image: url(button.png); background-size:6em 2em; width:6em; height:2em; font-size:200%; position: relative;  right:0.4em; text-decoration:none; top:-19em;}
h2 {float:right; color:rgb(255, 122, 0); background-color:rgb(255, 255, 0); width:9em; height:20em; text-align:center;}
.weird {left:6.35em;}
